:root {
    --body-bg-color:#f4f1ea;
    --font-sans: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    --font-serif: 'Iowan Old Style', 'Palatino Linotype', 'Book Antiqua', Georgia, serif;

    --heading-color: #17233a;
    --normal-text-color: rgba(23, 35, 58, 0.9);
}

html,body {
    margin:0;
    padding:1em;
    font-family: sans-serif;
    background-color: var(--body-bg-color);
    font-family: var(--font-serif);
}

p {
    font-size: 1rem;
    line-height: 1.95;
}