html,body {
    margin:0;
    padding:0;
    font-family: 'Hind Madurai', sans-serif;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 900px;
    margin:20px auto;
    position: relative;
    padding: 0 20px;
}

.txt-center {
    text-align: center;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px auto;
    border: 2px solid #e4e4e4;
    overflow: hidden;
}

.grid > div {
    border:2px solid #e4e4e4;
    border-radius: 4px;
    padding: 20px;
}

.grid > div h3 {
    margin-top: 0;
}

ul li {
    margin-bottom: 10px;
}
ul ul {
    margin:20px 0;
}

@media only screen and (min-width: 768px) {
    .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .grid > div {
        margin-bottom: 20px;
    }
}